<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="local" value="..\..\src\ToListinator\bin\Debug" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="local">
      <package pattern="ToListinator" />
    </packageSource>
  </packageSourceMapping>
</configuration>
