<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="local" value="..\..\src\ToListinator\bin\Debug" />
    <add key="local-datetime" value="..\..\src\DateTimeDetector\bin\Debug" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="local">
      <package pattern="ToListinator" />
    </packageSource>
    <packageSource key="local-datetime">
      <package pattern="DateTimeDetector" />
    </packageSource>
  </packageSourceMapping>
</configuration>
